# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\CURRICULUM\University_3rd\Web Programming\ITProJect\SaleClothesWebsite-main (1)\SaleClothesWebsite-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
